
@keyframes marquee-horizontal {
    0% {
        transform: translateX(0) translateZ(0);
    }
    100% {
        transform: translateX(-100%) translateZ(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: auto;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.home-hero-logos {
    animation: fadeIn 0.2s ease backwards;
    animation-delay: 0.4s;

    display: flex;
    max-width: 860px;
    margin-right: auto;
    margin-bottom: 54px;
    margin-left: auto;
    align-items: center;
    white-space: nowrap;
}

@media (max-width: 800px) {
    .home-hero-logos {
        display: none;
    }
}

.home-hero-logo {
    display: flex;
    margin-right: 28px;
    margin-left: 28px;
    justify-content: center;
    align-items: center;
}

.w-embed::before {
 content: " ";
 display: table;
 grid-column-start: 1;
 grid-column-end: 2;
}

.w-embed::after {
    clear: both;
}

.w-embed::after, .w-embed::before {
    content: " ";
 display: table;
 grid-column-start: 1;
 grid-column-end: 2;
}

.home-hero-carousel-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
}

.home-hero-carousel-row {
    animation: marquee-horizontal 30s linear infinite;

    display: flex;
    gap: 32px;
    align-items: center;
    flex: 0 0 auto;
}


.home-hero-logos-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: linear-gradient(90deg,#e4e4e7,hsla(0,0%,100%,0) 20%,hsla(0,0%,100%,0) 80%,#e4e4e7);
}